
feedparser==6.0.10
Flask==3.0.2
matplotlib==3.7.1
memory_profiler==0.61.0
nest_asyncio==1.5.6
newspaper3k==0.2.8
pandas==2.0.1
transformers==4.30.1
gunicorn==20.1.0  ## Required for deployment
sentencepiece==0.1.96  ## to speed up the tokenizer for the ALBERTA Model
protobuf==3.20.0  # required to run Alberta Model
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
# tensorflow>=2.0,<3.0
# tensorflow-tensorrt
